h1,h2,h3,h4,h5,h5{
	color: #555;
	font-family: raleway, 'helvetica neue', sans-serif;
	font-weight: normal;
}

p.reference{
	padding-left: 2em;
	text-indent: -2em;
}

h1{ font-size: 300%; }
h2{ font-size: 250%; }
h3{ font-size: 200%; }
h4{ font-size: 150%; }
h5{ font-size: 125%; }
h6{ font-size: 110%; }


div.default-header-titles h1{
	text-align: center;
	font-size: 4em;
	font-weight: 200;
	line-height: 1;
	margin: 0;
	margin-bottom: .25em;
}
div.default-header-titles h2{
	text-align: center;
	font-size: 2em;
	font-weight: 200;
	line-height: 1;
	margin: 0;
	margin-bottom: 1em;
	font-family: 'helvetica neue', sans-serif;
}

pre, code{
	font-family: monospace;
}

code{font-size:inherit;}

p, pre{
	line-height: 1.8em;
	font-size: 1.2em;
	font-weight: 300;
	color: #777;
}

ol, ul{
	line-height: 1.8em;
	/*font-size: 1em;*/
	font-weight: 300;
	color: #777;
}



pre{
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 1em;
	line-height: 1em;
	
}

table{
	font-family: 'hevetica neue', sans-serif;
	line-height: 1.2;
	font-size: 1.2em;
	font-weight: 300;
	color: #777;
}

span.t-bayes{color:rgb(255,107,107);}
span.t-db{color:rgb(78,205,196);}

.align-center{text-align: center;}

@media screen and (max-width: 48em){
	div.default-header-titles h1{font-size:300%}
	div.default-header-titles h2{font-size:160%}
	div.header-titles h1{font-size: 500%;}
	div.header-titles h2{font-size: 150%;}
	h1{ font-size: 250%; }
	h2{ font-size: 200%; }
	h3{ font-size: 150%; }
	h4{ font-size: 120%; }
	h5{ font-size: 110%; }
	h6{ font-size: 105%; }
	p,pre,code, ol, ul{font-size: 100%}
	table{font-size: 95%}
	div.post-titles h1{font-size:2.5em;}
	div.post-titles h2{font-size:1.5em; line-height: 1.2;}
	div.post-titles p{font-size:1em;}
}

@media screen and (max-width: 35.5em){
	div.default-header-titles h1{font-size:250%}
	div.default-header-titles h2{font-size:130%}
	div.header-titles h1{font-size: 350%;}
	div.header-titles h2{font-size: 120%;}
	h1{ font-size: 200%; }
	h2{ font-size: 170%; }
	h3{ font-size: 130%; }
	h4{ font-size: 118%; }
	h5{ font-size: 107%; }
	h6{ font-size: 100%; }
	p,pre,code, ol, ul{font-size: 100%}
	p, ol, ul{line-height:1.2;}
	table{font-size: 85%}
	#nav-bow p{font-size:1.2em; padding:.5em; }
	div.post-titles h1{font-size:2em;}
	div.post-titles h2{font-size:1.25em; line-height: 1.1;}
	div.post-titles p{font-size:.95em;}
}

.shrink-50{ font-size:50%; }