# FILL IN ALL THE THINGS SURROUNDED BY <ANGLE BRACKETS>

####################################
## StarCluster Configuration File ##
####################################
[global]
# Configure the default cluster template to use when starting a cluster
# defaults to 'smallcluster' defined below. This template should be usable
# out-of-the-box provided you've configured your keypair correctly
DEFAULT_TEMPLATE = tabular_predDB
# number of seconds to wait when polling instances (default: 30s)
REFRESH_INTERVAL=10

#############################################
## AWS Credentials and Connection Settings ##
#############################################
[aws info]
# This is the AWS credentials section (required).
# These settings apply to all clusters
# replace these with your AWS keys
# 
# MIT
AWS_ACCESS_KEY_ID = <AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY = <AWS_SECRET_ACCESS_KEY>
AWS_USER_ID= <AWS_USER_ID>
# Uncomment to specify a different Amazon AWS region  (OPTIONAL)
# (defaults to us-east-1 if not specified)
# NOTE: AMIs have to be migrated!
#AWS_REGION_NAME = eu-west-1
#AWS_REGION_HOST = ec2.eu-west-1.amazonaws.com
# Uncomment these settings when creating an instance-store (S3) AMI (OPTIONAL)
#EC2_CERT = /path/to/your/cert-asdf0as9df092039asdfi02089.pem
#EC2_PRIVATE_KEY = /path/to/your/pk-asdfasd890f200909.pem
# Uncomment these settings to use a proxy host when connecting to AWS
#AWS_PROXY = your.proxyhost.com
#AWS_PROXY_PORT = 8080
#AWS_PROXY_USER = yourproxyuser
#AWS_PROXY_PASS = yourproxypass

###########################
## Defining EC2 Keypairs ##
###########################
# Sections starting with "key" define your keypairs. See "starcluster createkey
# --help" for instructions on how to create a new keypair. Section name should
# match your key name e.g.:
#
[key <KEYNAME>]
KEY_LOCATION = ~/.ssh/<KEYNAME>

[permission myrange]
from_port = 8007
to_port = 8008

[cluster tabular_predDB]
KEYNAME = <KEYNAME>
CLUSTER_SIZE = 1
CLUSTER_USER = sgeadmin
CLUSTER_SHELL = bash
# NODE_IMAGE_ID = ami-2634aa4f
NODE_IMAGE_ID = ami-999d49f0
NODE_INSTANCE_TYPE = m1.small
permissions = myrange
plugins = tabular_predDB

[plugin tabular_predDB]
SETUP_CLASS = tabular_predDB.starcluster_plugin.tabular_predDBSetup
