[permission image_range]
from_port = 8000
to_port = 8000

[permission server_range]
from_port = 8007
to_port = 8008

[cluster bayesdb]
extends = smallcluster
CLUSTER_SIZE = 1
CLUSTER_USER = bayesdb
CLUSTER_SHELL = bash
# bayesdb AMI
NODE_IMAGE_ID = ami-b1b1b2d8
# official starcluster AMI
# NODE_IMAGE_ID = ami-765b3e1f
NODE_INSTANCE_TYPE = c1.medium
permissions = server_range, image_range
plugins = crosscat, bayesdb, ipcluster

[plugin crosscat]
SETUP_CLASS = crosscat.starcluster_plugin.crosscatSetup

[plugin bayesdb]
SETUP_CLASS = bayesdb.starcluster_plugin.bayesdbSetup

[plugin ipcluster]
setup_class = starcluster.plugins.ipcluster.IPCluster
enable_notebook = True
notebook_directory = notebooks
# set a password for the notebook for increased security
# notebook_passwd = bayesdb
