		<div id="footer">
			<center><div class="footer-shadow"></div></center>
			
			<div class="footer-box"><div class="l-box">
			<p>BayesDB and its sister project, CrossCat, are being developed by <a href="http://web.mit.edu/jbaxter/www">Jay Baxter</a>, Dan Lovell, and <a href="http://web.mit.edu/vkm/www">Vikash Mansinghka</a> from the <a href="http://probcomp.csail.mit.edu/">MIT Probabilistic Computing Project</a> and by <a href="http://shaftolab.com/index.php/people/patrick-shafto/">Pat Shafto</a> and <a href="http://shaftolab.com/index.php/people/baxter-eaves/">Baxter Eaves</a> from the <a href="http://shaftolab.com/">CoCoSci Lab</a> at University of Louisville.</p>

		<p>Our work is generously supported by research a contract with DARPA (under the XDATA program) and the Google "Rethinking AI" project. The views expressed on this website and in our research are our own, and do not necessarily reflect the views of our government or corporate sponsors.</p>
			</div></div>
			<br>
			<p class="align-center">
				Copyright &copy; 2014 BayesDB
			</p>
			<p class="align-center">
				Follow us on <a href="https://github.com/mit-probabilistic-computing-project/BayesDB">Github</a>.
			</p>
		</div>
	</div> <!-- end main -->
</body>