		<div id="footer">
			<center><div class="footer-shadow"></div></center>
			
			<div class="footer-box"><div class="l-box">

			<p>BayesDB is being developed by the <a href="http://probcomp.csail.mit.edu/">MIT Probabilistic Computing Project</a>, a joint effort of MIT’s <a href="http://www.csail.mit.edu/">CSAIL</a> and <a href="http://bcs.mit.edu/">Department of Brain & Cognitive Sciences</a>, in collaboration with the <a href="http://shaftolab.com/">Computational Cognitive Science Lab</a> at the University of Louisville. Our work is generously supported by research contracts with DARPA (under the <a href="http://www.darpa.mil/Our_Work/I2O/Programs/XDATA.aspx">XDATA</a> and <a href="http://www.darpa.mil/Our_Work/I2O/Programs/Probabilistic_Programming_for_Advanced_Machine_Learning_(PPAML).aspx">PPAML</a> programs), gifts from Google, and contributions from the open-source software community.</p>
			</div></div>
			<br>
			<p class="align-center">
				Copyright &copy; 2014 BayesDB
			</p>
			<p class="align-center">
				Follow us on <a href="https://github.com/mit-probabilistic-computing-project/BayesDB">Github</a>.
			</p>
		</div>
	</div> <!-- end main -->
</body>