<div id="nav-bow">
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 nb-1"><div class="l-box-nb"><a href="{{ site.baseurl }}{% post_url 2014-06-18-GetStarted %}"><p>Download</p></a></div></div>
		<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 nb-2"><div class="l-box-nb"><a href="{{ site.baseurl }}{% post_url 2014-06-19-Docs %}"><p>Documentation</p></a></div></div>
		<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 nb-3"><div class="l-box-nb"><a href="{{ site.baseurl }}{% post_url 2014-06-19-Examples %}"><p>Examples</p></a></div></div>
		<!-- <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-5 nb-4"><div class="l-box-nb"><a href="{{ site.baseurl }}{% post_url 2014-06-19-GetInvolved %}"><p>Get Involved</p></a></div></div> -->
		<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 nb-4"><div class="l-box-nb"><a href="{{ site.baseurl }}{% post_url 2014-06-18-FAQ %}"><p>FAQ / Help</p></a></div></div>
	</div>
</div>