@import "bootstrap-readable.css";

body {
    background: white;
}

a {
    color: #0088cc;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* List styling */
ul.flush {
    margin: 0 0 0 1em;
    padding: 0px;
}

ul.buttons {
    list-style-type: none;
}

ul.legend {
    list-style-type: none;
}

/* File inputs are way too big */
input[type="file"] {
    height: auto;
    line-height: auto;
    font-size: 13.2px;
    font-weight: auto;
}

.code {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 15px;
    line-height: normal;
}

.jumbotron {
    text-align: center;
}

.jumbotron > .description {
    text-align: left;
}

.title {
    color: #004400;
}

/* A rounded-corner panel for printing information */
.placard {
    border-radius: 10px 10px 10px 10px;
    background: #000;
    opacity: 0.3;
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
    margin-top: 3px;
}

.gmap img {
    max-width: none;
}

.gmap label {
    width: auto; display:inline;
}

.popover-expand {
    max-width: none;
}

/* This allows for emulating a clickable link without affecting the browser
 * history (use for popovers, etc. */
.pointer {
    cursor: pointer;
}

/* Use this for "drawer handles", to help the user see that clicking on the edge
 * of a div will make it roll out/in. */
.drawer:hover {
    background-color: gray;
}

/* Translucent control panel, fixed at bottom of window. */
.control-panel {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

/* This causes the "brand" item in fixed-navbars to not have a negative left
 * margin. */
.navbar-fixed-top .brand {
    margin-left: auto;
}

/* Implement a spinning animation (for use by progress pinwheels, etc.). */
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.spinning {
    animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -o-animation: 2s linear 0s normal none infinite spin;
}
