<% wrap_layout :sidebar_layout do %>
	<% content_for :sidebar do %>
	  <div id="sidebar-wrapper">
	    <ul class="sidebar-nav" style="position: relative;">
	      <li><h2><a href="/intro/">Intro</a></h2></li>
	      <li><a href="/intro/what.html">What</a></li>
	      <li><a href="/intro/why.html">Why</a></li>
	      <li><a href="/intro/how.html">How</a></li>
            </ul>
	  </div>
	<% end %>
	<%= yield %>
<% end %>
