---
title: BayesDB
---

<div class="row">
	<div class="col-md-12">
		<a id="Overview"></a><h1>Overview</h1>
		<p class="lead">BayesDB is an open-source implementation of a predictive database table. It provides predictive extensions to SQL that enable users to query the implications of their data --- predict missing entries, identify predictive relationships between columns, and examine synthetic populations --- based on a Bayesian machine learning system in the backend.</p>
	</div>
</div>


<div class="row">
	<div class="col-md-3">
		<h2 class="text-center">Exemplar dataset</h2>
		A dataset of variables related to airline flights
	</div>
	<div class="col-md-9" >
		<img src="/images/Flight_data_subset.png" height=66px width=660px>
	</div>
</div>
	
	
<div class="row">	
	<div class="col-md-3">
		<img src="/images/Flight_data_subset_feature_z.png" height=160px width=213px>
	</div>
	<div class="col-md-9">
		<h2 class="text-center">Visualization of attribute dependencies</h2>
		<p>One may be interested querying such data to get answers regarding which attributes are dependent, which rows are similar, likely values of unobserved cells, probable but not-previously-observed instances, and more.</p>
		<p>Aggregating statistics on the models CrossCat generates of the underlying data, we can draw conclusions about the likelihood of dependence between data table columns.</p>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<a id="Download"></a><h1>Download</h1>
		<a href="https://github.com/mit-probabilistic-computing-project/BayesDB">BayesDB 0.1.0-alpha on Github</a>
	</div>
</div>
		
<div class="row">
        <div class="col-md-12">
		<a id="About"></a><h1>About</h1>
		<p>BayesDB and its sister project, CrossCat, are being developed by Jay Baxter, Dan Lovell, and Vikash Mansinghka at Massuchusetts Institute of Technology and by Pat Shafto and Baxter Eaves at University of Louisville.</p>

		<p>If you have any comments or questions, please feel free to email us at jbaxter [AT] mit.edu.</p>

		<p>This research and development is supported in part by the DARPA XDATA program.</p>
	</div>
</div>


<div class="row">
    <div class="col-md-8" style="margin-top: 140px; padding-top: 140px;">
		<p class="text-center">Don't forget to check out these other great ProbComp projects!</p>
		<div class="col-md-4">
			<p class="well text-center"><a href="http://venture.csail.mit.edu/wiki/index.php5?title=Venture">Venture</a></p>
		</div>
		<div class="col-md-4">
			<p class="well text-center"><a href="http://probcomp.csail.mit.edu/preddb/index.php?title=Overview">CrossCat</a></p>
		</div>
	</div>		
</div>
