---
title: BayesDB
---
     
  <!-- Page content -->
  <div id="page-content-wrapper" style="margin-left: -250px; text-align: center;">
    <div class="content-header">
      <h1>
        <a id="menu-toggle" href="/" class="btn btn-default"><i class="icon-reorder"></i></a>
	BayesDB
      </h1>
    </div>
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <div class="row">
        <div class="col-md-12">
		<p class="lead">website-archetype is a template for ProbComp project websites.  This front page is defined in html, but it could be in markdown like the <a href="/intro/">intro</a> page.</p>
		<p class="lead">Below material from the startbootstrap simple-sidebar index.html page.  Look at the <a href="/intro/">intro</a> page for more info on how to modify website-archetype for your project.</p>
		<p class="lead">This simple sidebar template has a hint of JavaScript to make the template responsive. It also includes Font Awesome icon fonts.</p>
        </div>

        <div class="col-md-6">
          <p class="well">The template still uses the default Bootstrap rows and columns.</p>
        </div>
        <div class="col-md-6">
          <p class="well">But the full-width layout means that you wont be using containers.</p>
        </div>
        <div class="col-md-4">
          <p class="well">Three Column Example</p>
        </div>
        <div class="col-md-4">
          <p class="well">Three Column Example</p>
        </div>
        <div class="col-md-4">
          <p class="well">You get the idea! Do whatever you want in the page content area!</p>
        </div>
      </div>
    </div>
  </div>
